<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextAttributes OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TextAttributes iOS Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TextAttributes iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TextAttributes tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TextAttributes watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D2475361CAAB1050044D223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2475401CAAB1050044D223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB519771CCA7F30005C3E83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB5198B1CCA8CEF005C3E83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB519941CCA8CEF005C3E83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DDF4E2F1CD1260A002AA459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DDF4E381CD1260B002AA459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
